{% extends 'baseTabla.html' %}

{% block administracion %}
Productos
{% endblock administracion %}

{% block button %}
{% url 'pedido:crear_producto' %}
{% endblock button %}

{% block tabla %}
<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>id_producto</th>
        <th>nombre</th>
        <th>valor</th>
        <th>proveedor</th>
        <th>fecha_creacion</th>
        <th>opciones</th>
    </tr>
    {% for p in productos  %}

    <tr>
        <td>{{ p.id_producto }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.valor }}</td>
        <td>{{ p.proveedor }}</td>
        <td>{{ p.fecha_creacion }}</td>
        <td>

            <a href="{% url 'pedido:actualizar_producto' p.id_producto %}" class="btn btn-info btn-sm">modificar</a>
            <a href="#"  class="btn btn-danger btn-sm">eliminar</a>

        </td>
    </tr>    

    {% endfor %}
</table>
{% endblock tabla %}
