* {
  margin: 0;
  padding: 0;
}

header {
  height: 3rem;
  width: 100%;
  background-color: #424642;
  display: flex;
}

header .contenedor-img {
  width: 50%;
}

header > nav {
  width: 50%;
}

header > nav .menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

header > nav .menu__item {
  height: 3rem;
  padding: 0 1rem;
}

header > nav .menu__item > a {
  text-decoration: none;
  line-height: 3rem;
  color: black;
}

header > nav .menu__item:hover {
  background-color: black;
}

header > nav .menu__item:hover > a {
  color: yellow;
}

.contenedor-base {
  background-color: #F3F4ED;
  min-height: calc(100vh - 3rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado-form {
  width: 600px;
  margin: 1rem 0;
}

.centrado-usuario {
  height: 90vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.centrado-usuario > h1 {
  margin-bottom: 2rem;
}

.centrado-usuario .contenedor-administracion {
  width: 100%;
  background-color: #F3F4ED;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.centrado-usuario .contenedor-administracion .menu {
  background-color: #536162;
  display: grid;
  grid-template-rows: 70px calc(100% - 70px);
}

.centrado-usuario .contenedor-administracion .menu .titulo {
  background-color: #424642;
}

.centrado-usuario .contenedor-administracion .menu .titulo > h4 {
  line-height: 70px;
  text-align: center;
  color: white;
}

.centrado-usuario .contenedor-administracion .menu .opciones .lista {
  list-style: none;
  padding-left: 0;
}

.centrado-usuario .contenedor-administracion .menu .opciones .lista__item {
  padding: 5px .5rem;
}

.centrado-usuario .contenedor-administracion .menu .opciones .lista__item > a {
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.centrado-usuario .contenedor-administracion .menu .opciones .lista__item:hover {
  background-color: white;
}

.centrado-usuario .contenedor-administracion .administracion {
  display: grid;
  grid-template-rows: 70px calc(100% - 70px);
}

.centrado-usuario .contenedor-administracion .administracion .head {
  background-color: #424642;
  display: grid;
  grid-template-columns: calc(100% - 150px) 150px;
}

.centrado-usuario .contenedor-administracion .administracion .head__title > h4 {
  margin-left: 2rem;
  line-height: 70px;
  color: white;
}

.centrado-usuario .contenedor-administracion .administracion .head__button {
  display: flex;
  align-items: center;
}
