{% extends 'base.html' %}

{% block contenido %}

 <div class="centrado-usuario">
    <h1>Bienvenid@, {{ user.username }}  !!!! .Que hoy sea un gran dia para ti</h1>

    <div class="contenedor-administracion">
        
        <div class="menu">
            <div class="titulo">
                <h4>Menu</h4>
            </div>
             
            <div class="opciones">
                <li class="lista__item"><a href="{% url 'comedor:listar_plato' %}" >Comedor</a></li>
                <li class="lista__item"><a href="{% url 'compra:listar_gasto' %}" >Gastos Huespedes</a></li>
                <li class="lista__item"><a href="{% url 'compra:listar_huesped' %}" >Huespedes</a></li>
                <li class="lista__item"><a href="{% url 'compra:listar_compra' %}" >Compras</a></li>
                <li class="lista__item"><a href="{% url 'habitacion:listar_habitacion' %}" >Habitaciones</a></li>
                <li class="lista__item"><a href="{% url 'pedido:listar_detalle' %}" >Detalle Pedido</a></li>
                <li class="lista__item"><a href="{% url 'pedido:listar_pedido' %}" >Pedidos</a></li>
                <li class="lista__item"><a href="{% url 'pedido:listar_producto' %}" >Productos</a></li>
                <li class="lista__item"><a href="{% url 'usuario:listar_cliente' %}" >Clientes</a></li>
                <li class="lista__item"><a href="{% url 'usuario:listar_empleado' %}" >Empleados</a></li>
                <li class="lista__item"><a href="{% url 'usuario:listar_proveedor' %}" >Proveedor</a></li>
            </div>
            
        </div>

        <div class="administracion">
            <div class="head">
                <div class="head__title">
                    <h4>Administracion de{% block administracion %} {% endblock administracion %}</h4> 
                </div> 

                <div class="head__button"> 
                    <a href="{% block button %} {% endblock button %}" class="btn btn-light">Agregar</a>
                </div>

            </div>

            <div class="tabla">
                
                {% block tabla %}
                    
                {% endblock tabla %}
                
            </div>
            
        </div>

     </div>
     
 </div>   
    
{% endblock contenido %}
