<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>base</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}" title="" type="">
    </head>
    <body>
        
        <header class="header">


            <div class="contenedor-img">
                
            </div>


            <nav>
                <ul class="menu">
                    <li class="menu__item"><a href="#nosotros">Nosotros</a></li>
                    <li class="menu__item"><a href="#habitaciones">Tarifas</a></li>
                    <li class="menu__item"><a href="#comedores">Comedor</a></li>
                    <li class="menu__item"><a href="#contacto">Contacto</a></li>
                    {% if user.is_authenticated %}
                        <li class="menu__item"><a href="{% url 'logout' %}">cerrar sesion</a></li>
                        <li class="menu__item"><a href="#">@{{ user.username }}</a></li>
                        <li class="menu__item"><a href="{% url 'cliente:listar_curso' %}">Mis Compras</a></li>
                        <li class="menu__item"><a href="{% url 'compra:listar_compra' %}">administracion</a></li>
                    {% else %}
                        <li class="menu__item"><a href="{% url 'usuario:registrar_cliente' %}">registrarme</a></li>
                        <li class="menu__item"><a href="{% url 'login' %}">login</a></li>
                    {% endif %}
                </ul>
            </nav>


        </header>



        {% block contenido %}

        {% endblock %}


        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        {% if messages %}
             {% for m in messages %}
                <script charset="utf-8">
                    Swal.fire({
                        'title':'felicidades',
                        'text':'{{m}}',
                        'icon':'success'
                    })
                </script>
             {% endfor %}
        {% endif %}


        {% block js %}
            
        {% endblock js %}

    </body>
</html>
