{% extends 'base.html' %}

{% block contenido %}

<div class="fondo-tabla">

    <div class="centrado">

        <div class="cabeza">
            <h2>Administracion 
                {% block administracion %}
                    
                {% endblock administracion %}
            </h2>
            <a href="{% block button %}{% endblock %}" class="btn btn-primary">Agregar</a>
        </div>


        <div class="cuerpo">

            <div class="opciones">
                <h5>MODULO</h5>

                <ul class="lista">
                    <li class="lista__item"><a href="{% url 'comedor:listar_plato' %}" >comedor</a></li>
                    <li class="lista__item"><a href="{% url 'compra:listar_gasto' %}" >gasto huesped</a></li>
                    <li class="lista__item"><a href="{% url 'compra:listar_huesped' %}" >huespedes</a></li>
                    <li class="lista__item"><a href="{% url 'compra:listar_compra' %}" >compras</a></li>
                    <li class="lista__item"><a href="{% url 'habitacion:listar_habitacion' %}" >habitaciones</a></li>
                    <li class="lista__item"><a href="{% url 'pedido:listar_detalle' %}" >detalle pedido</a></li>
                    <li class="lista__item"><a href="{% url 'pedido:listar_pedido' %}" >pedidos</a></li>
                    <li class="lista__item"><a href="{% url 'pedido:listar_producto' %}" >productos</a></li>
                    <li class="lista__item"><a href="{% url 'usuario:listar_cliente' %}" >clientes</a></li>
                    <li class="lista__item"><a href="{% url 'usuario:listar_empleado' %}" >empleados</a></li>
                    <li class="lista__item"><a href="{% url 'usuario:listar_proveedor' %}" >proveedor</a></li>
                </ul>
            </div>

            <div class="contenedor-tabla">
                {% block tabla %}
                    
                {% endblock tabla %}

            </div>

        </div>
        

    </div>
    
</div>
    
{% endblock contenido %}
