{% extends 'base.html' %}

{% block contenido %}
<div class="fondo-tabla">

    <div class="centrado">

        <div class="cabeza">
            <h2>Administracion 
                {% block administracion %}
                    
                {% endblock administracion %}
            </h2>
            <a href="{% block button %}{% endblock %}" class="btn btn-primary">Agregar</a>
        </div>


        <div class="cuerpo">

            <div class="opciones">
                <h5>MODULO</h5>

                <ul class="lista">
                    <li class="lista__item"><a href="{% url 'cliente:listar_curso' %}" >Ordenes en Curso</a></li>
                    <li class="lista__item"><a href="{% url 'cliente:listar_pago' %}" >Pago Pendiente</a></li>
                </ul>
            </div>

            <div class="contenedor-tabla">
                {% block tabla %}
                    
                {% endblock tabla %}

            </div>

        </div>
        

    </div>
    
</div>
    
{% endblock contenido %}
